<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
  <script type="text/javascript" charset="utf-8"></script>
  <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <title>Wish list</title>
</head>
<style>
li {
  list-style-type: circle;
}
#button{
  margin-left: 400px;
}
table{
  display: inline-block;
}

div{width: 500px;
height: 900px;
border: 2px solid black;
margin: auto;
padding: 25px;
}
</style>
<body>
<div>
  <h1>Hello, {{data.name}}</h1>
  <a id ='button' href="/logout"><button>Log Out</button></a>

  {% if messages %}
      <ul>
        {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <table class="yourtable">
      <h3>Your wish List:</h3>
      <thead>
        <tr>
          <th>Item</th>
          <th>Added By</th>
          <th>Data Added</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
        <tr>
            <td><a href="{% url 'wishlist:display' item.id %}">{{item.item}}</a></td>
            <td>{{item.user.name}}</td>
            <td>{{item.date_added}}</td>
            {% if data == item.user %}
            <td><a href="{% url 'wishlist:delete' item.id %}">Delete</a></td>
            <td><a href="{% url 'wishlist:remove' item.id %}">Remove from my Wishlist</a></td>
            {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <table class="other table">
      <h3>Other User's Wish List</h3>
      <thead>
        <tr>
          <th>Item</th>
          <th>Added By</th>
          <th>Data Added</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td><a href="{% url 'wishlist:display' user.id %}">{{user.item}}</a></td>
          <td>{{user.user.name}}</td>
          <td>{{user.date_added}}</td>
          <td><a href="{% url 'wishlist:join' user.id %}">Add to my Wishlist</a></td>
        </tr>
        {% endfor %}
      </div>
      </tbody>
    </table>
    <a id ='button' href="{% url 'wishlist:create' %}"><button>Add Item</button></a>
</body>
</html>
